.container-not-found{
    text-align: center;
    margin-top: 100px;
}

h1{
    color: white;
    margin-bottom: 100px;
}

#button-back{
    /* margin-top: 100px; */
    background-color: rgb(238, 238, 224);
    /* background-color: rgb(241, 178, 96); */
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 550;
    text-decoration: none;
    color: black;
}