label{
    color: white;
}

.container-relojes-page{
    margin-top: 20px;
}

.filter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-color: green; */
}

#button-filtrar-por-marca{
    font-size: 20px;
    background-color: rgb(238, 238, 224);
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.dropdown-menu{
    width: 90%;
    /* background-color: green; */
}

#label-brands-filter{
    /* background-color: white; */
    font-size: 21px;
    /* color: black; */
    margin: 6px;
    /* padding: 5px 10px; */
}

.container-imagenes-relojes-page{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 5px;
    text-align: center;
    /* background-color: green; */
    /* width: 75%; */
}

.product-card-relojes{
    display: flex;
    flex-direction: column;
    /* background-color: green; */
}

#img-product-card-relojes {
    width: 150px;
    /* height: 100px; */
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    /* background-color: green; */
}

#product-name-relojes{
    /* color: rgb(238, 238, 224); */
    color: rgb(241, 178, 96);
    font-weight: bold;
    word-wrap: break-word;
    /* background-color: green; */
    /* height: 50px; */
    /* max-width: 100px; */
}