.container-ropa-main > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

#title-zapatos, #title-ropa{
    color: rgb(241, 178, 96);
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 25px;
}

#label-contraentrega{
    color: white;
    margin-top: 20px;
}

#link-to-zapatos-page, #link-to-ropa-page{
    background-color: rgb(238, 238, 224);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 22px;
    padding: 10px 15px;
    margin-top: 10px;
    font-weight: 550;
    text-decoration: none;
    color: black;
}

#title-ropa, #title-zapatos{
    color: black;
}

#slider-ropa, #slider-zapatos{
    height: 230px;
}

/* #title-container-ropa{
    color: rgb(241, 178, 96);
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 25px;
} */

/* #image-container-ropa{
    width: 230px;
} */