.container-product-detail{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p {
    color: white;
}

#label-description, #label-color{
    /* background-color: green; */
    width: 80%;
}

#label-name-product-detail{
    color: rgb(241, 178, 96);
}

#img-product-detail{
    width: 200px;
    height: auto;
    border-radius: 2px;
}

.container-error-fetching-product{
    text-align: center;
    margin-top: 150px;
    /* background-color: green; */
}

#label-error-fetching-product{
    margin-bottom: 100px;
}

#button-go-back-main{
    /* margin-top: 200px; */
    background-color: rgb(238, 238, 224);
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
}

.container-contact-detail{
    margin-top: 30px;
}

#link-to-whatsapp{
    background-color: rgb(238, 238, 224);
    /* background-color: rgb(241, 178, 96); */
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 550;
    text-decoration: none;
}

#label-quiero{
    color: black;
}

#label-no-disponible{
    color: white;
    background-color: none;
}

#explorar-mas{
    background-color: rgb(238, 238, 224);
    /* background-color: rgb(241, 178, 96); */
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 550;
    text-decoration: none;
    color: black;
}