label{
    color: white;
}

.container-main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#label-introduction{
    font-size: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
    /* background-color: green; */
    width: 80%;
    color: rgb(238, 238, 224);
}

#button-explorar{
    background-color: rgb(238, 238, 224);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 15px;
    margin-top: 30px;
    font-weight: 550;
    text-decoration: none;
    color: black;
}

.container-imagenes-main-page{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 5px;
    /* background-color: green; */
    /* width: 75%; */
}

/* .container-imagenes-main-page button {
    background-color: green;
    border: none;
} */

.container-imagenes-main-page img {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}