label{
    color: white;
}

.container-main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.overlay-advertising {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Muy por encima del resto del contenido */
}

.container-advertising {
    position: relative;
    display: flex;
    max-width: 90%;
    max-height: 90%;
    max-height: 100vh;
    /* overflow: hidden; */
    border-radius: 8px;
}

#close-advertising {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    color: rgb(100, 100, 100);
    border: none;
    border-radius: 6px;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
    z-index: 3;
}

#label-introduction{
    font-size: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
    /* background-color: green; */
    width: 80%;
    color: rgb(238, 238, 224);
    /* color: rgb(241, 178, 96); */
}

#button-explorar{
    background-color: rgb(238, 238, 224);
    /* background-color: rgb(241, 178, 96); */
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 15px;
    margin-top: 30px;
    font-weight: 550;
    text-decoration: none;
    color: black;
}

#button-ver-mas{
    background-color: rgb(238, 238, 224);
    /* background-color: rgb(241, 178, 96); */
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 15px;
    margin-top: 30px;
    font-weight: 550;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
}

.container-imagenes-main-page{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 5px;
    text-align: center;
    /* background-color: green; */
    /* width: 75%; */
}

/* .container-imagenes-main-page button {
    background-color: green;
    border: none;
} */

.product-card{
    display: flex;
    flex-direction: column;
    /* background-color: green; */
}

#img-product-card {
    width: 150px;
    /* height: 100px; */
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    /* background-color: green; */
}

#product-name-main{
    /* color: rgb(238, 238, 224); */
    color: rgb(241, 178, 96);
    font-weight: bold;
    word-wrap: break-word;
    /* background-color: green; */
    /* height: 50px; */
    /* max-width: 100px; */
}