.container-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

#label-canales{
    color: white;
    font-weight: bold;
}

#link-to-instagram, #link-to-whatsapp, #link-to-tiktok{
    display: flex;
    flex-direction: column;
}

#logo-instagram, #logo-whatsapp, #link-to-tiktok{
    margin-top: 20px;
    height: 180px;
    width: 180px;
}

#label-whatsapp, #label-instragram, #link-to-tiktok{
    font-weight: bold;
}