.nav-bar{
    /* background-color: green; */
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
}

.container-name{
    width: 60%;
    text-align: center;
    /* background-color: green; */
}

#label-inicio, #label-relojes,
#label-ropa, #label-contacto{
    color: rgb(238, 238, 224);
    /* color: rgb(241, 178, 96); */
    font-size: 13px;
    text-decoration: none;
}

#label-name{
    /* color: rgb(238, 238, 224); */
    color: rgb(241, 178, 96);
    /* margin-left: 20px; */
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

.container-opciones{
    display: flex;
    justify-content: space-evenly;
    /* background-color: green; */
    width: 60%;
    /* margin-left: 30px; */
}